body {
    background: url(../images/bg.png);
    background-size: auto 1375px;
    background-position-x: center;
    background-position-y: -481px;
  background-repeat: no-repeat;
    position: relative;
}